@use "../utils/box-shadow.scss";
@use "../utils/zoom.scss";
@use "../utils/variables.scss";
@use "../utils/colors.scss";

variables.$tuto-bullet-height : 1em;


.tuto {
    counter-reset: steps;
    & ol {
        display: flex;
        flex-wrap: wrap;
        @media (max-width : 767px)
         {flex-direction : column}
        

    & li {
        &::before {
            content : counter(steps);
            counter-increment: steps;
            color: white;
            background-color: colors.$purple;
            width: 2*variables.$tuto-bullet-height;
            height: 2*variables.$tuto-bullet-height;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            bottom : variables.$tuto-bullet-height;
            left: -1*variables.$tuto-bullet-height;
        }
        background-color: #f6f6f6;
        padding: 1.5em 2em;
        flex-grow: 1;
        border-radius: 1em;
        @include box-shadow.base-shadow;
        &:hover {
            @include zoom.transform-zoom;
        }
    }
    & i.fas {
        margin-right: 1em;
        color: colors.$lightgrey;
        font-size: 1.5em;
    }
}
}
